.card{
    background-color: transparent ;
    border: none;
}
.card .row .col .card{
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.829); */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.829);
}
.col .card{
    overflow: hidden;
 }
 .col .card img{
     height: 200px !important;
     width: 100% !important;
 }
 .col .card{
     height: 100%;
 }
 