/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body{
  /* min-height: 100vh; */
  height: 100%;
  background-color: rgba(144, 238, 144, 0.212);
  /* background-image: linear-gradient(120deg,  white 10%, palegreen 50%,#eee); */
  background-repeat: no-repeat;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

